.superContainer{
    width: 600px; 
    height: 350px;
    display: flex;
    margin: auto;
    flex-direction: row;
    transition: 0.35s;
    cursor: pointer;
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    box-shadow: grey 0px 0px 10px 1px;

}

.itemCart img{
    position: relative;
    margin: auto;
    height: 350px;
    width: 250px;
    border-radius: 20px 0px 0px 20px;
}

.carro{
    position: relative;
    margin: auto;
    text-align: center;
    font-size: 30px;
}


.inside{
    padding:5px;
    font-size: 25px;
}


.btn-danger{
    position:relative;
    height: 40px;



}
.btn-success{
    position:relative;
    height: 40px;
}



.superContainer:hover{
    box-shadow:  0px 0px 10px 1px;
    width:900px;
}

.superContainer:hover{
    background-color: rgba(0, 0, 0, 0.5);
}


.cerrar-compra{
    position: fixed;
    height: 100%;
    text-align: center;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    display: block;
    width:300px;
    background-color: blanchedalmond;
    top:50px;
    right: 1px;
}