@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Roboto:ital,wght@0,400;0,500;1,500&display=swap');

*{	margin: 0;
	padding: 0;
}

.navFormato{
    text-decoration: none;


}
.itemListCard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.App{
    background-color: whitesmoke;
}

.totalItems{
    color:rgba(0, 0, 0, 0.597);
    display: block;
    
}

.NavLink{
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size:3rem;
    color: antiquewhite;
}

.div-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height:70px;
    background-color: #1b304b;
}

.list-container{
    display: flex;
    list-style: none;
    font-size: 16px;
    margin-top: 23px;

}

.list-container li a {
    position: relative;
    display: flex;
    color: antiquewhite;
    text-decoration: none;
    margin-left: 20px;
    transition: all .3s;
    align-items: center;

}
.list-container li a::before {
    content:"";
    height: 3px;
    width: 0%;
    background: black;
    position: absolute;
    bottom: -2px;
    left:0;
    transition: 0.3s ease-out;
}

.list-container li a:hover::before {
width: 100%;
}
.imagen-icon{
    margin-top: 15px;
    width: 120px;
    height: 40px;
    cursor: pointer;
}

.input-container{
    width: 220px;
    height: 45px;
    margin-top: 6px;
    text-align: center;
    outline: none;
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid black;

}

.img-buscador{
    position: relative;
    left: 23px;
    top: 4px;
    width: 15px;
    height: 15px;
}


.icons-container {
    position: relative;
    display: flex;
    align-items: center;
    left: -25px;
}


.login {
    position: relative;
    top: 10px;
    width: 22px;
    height: 22px;
    margin-left: 25px;
}



.itemCard{
    width: 18rem; 
    height: 35rem;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 5em;
    border-color:black;
    text-align: center;
    position: relative;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: red 0px 0px 10px 1px;

  
 }
 
 .img-card{
    height: 22rem;
    border-radius: 27px;
 }
 
 .item-price{
     color:black;
     font-size: 27px;
     text-align: center;
     font-weight: bold;

 }
 
 .item-titulo{
     font-size: 20px;
     font-weight: bold;
     margin: auto;
     
 }
 
 div ul li{
    text-decoration: none;
    padding-right: 140px;
    text-decoration: none;
    font-size: 20px;
 }

 .cardBody{
    margin: 6em;
    height: 3em;
 }

 
 @media (max-width : 800px){

    .App, html {
        margin: 0;
        padding: 0;
        width: auto;
        display: wrap;
        height: auto;
   
    }

    .itemListCard{
        display:inline;

    }
    .itemCard{
        width: 12rem;
        height: 25rem;
        margin-bottom: 1rem;
        font-size: 0.8rem;
        border-radius: 20px;
        border: none;
     }
     .img-card{
        height: 14rem;
        width: 12rem;
        margin-top: 0rem;
        border-radius: 20px;
    }
     .containerItemList{
        margin-top: 2em;
        margin-bottom: 2em;
        column-count: 2;
        
}
div ul li{
    text-decoration: none;
    padding-right: 80px;
    text-decoration: none;
    font-size: 15px;
 }
}

@media (max-width:785px) {
    .div-container{
        flex-wrap: wrap;
     
    
    }
    .list-container{
        position: relative;
    
        display: flex;
        top:-30px;
        left: -9px;
    
    }
    .list-container li a{
        margin-top: 35px;
    }
    
    }
    
    
    @media (max-width:785px) {
        .div-container{
    
            height: 400px;
    
        }
    }