header {
  width: 100%;
  display: flex;    
  align-items: center;
  margin: auto;
  justify-content: space-around;
  height: 90px;
  position: sticky;
  background-color: violet;
  top: 0;
  z-index: 1;
  box-shadow: 0px 1px grey;  
}

header nav {
  margin-top: 4px;
}

.fab-fa-instagram{
  text-decoration: none;
}


header nav ul{
  display:flex;
  align-items: center; 
  
}

header nav ul li{
  list-style-type: none;
  margin: 60px;
}


header nav ul li a{
  text-decoration: none;
  color:black;
  font-size: 2rem;
  font-weight: 700;
  padding: 5px;
  margin: 5px;
  letter-spacing: 1px;    
}